<div class="panel panel-primary" style="margin-top:30px;" ng-controller="weatherController as _wc">
    <div class="panel-heading">
        <h3 class="panel-title">Hourly Forecast</h3>
    </div>

    <div class="panel-body">
        This information is brought to you by www.something.com
    </div>

    <table class="table" ng-init="_wc.getHourlyData()">
        <tr>
            <th>Time</th>
            <th>Temprature </th>
        </tr>

        <tr data-ng-repeat="(key, data) in _wc.data">
            <td><b>{{data.time | date}}</b></td>
            <td>{{data.temp}}</td>
        </tr>
    </table>
</div>
