<div class="panel panel-primary" style="margin-top:30px;">
    <div class="panel-heading">
        <h3 class="panel-title">Hourly Forecast</h3>
    </div>

    <div class="panel-body">
        This information is brought to you by www.something.com
    </div>

    <table class="table">
        <tr>
            <th>Time</th>
            <th>Temprature </th>
        </tr>

        <tr>
            <td>Product A</td>
            <td>200</td>
        </tr>

        <tr>
            <td>Product B</td>
            <td>400</td>
        </tr>
    </table>
</div>
